@font-face {
    font-family: 'Roboto';
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

html, body {
    background-image: url("https://cdn-ru0.puzzlegarage.com/img/puzzle/12/178_preview_r.v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #52d7be;
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: Roboto;
}
.figure{

}
td{
    border: 1px black solid;
    width: 20px;
    heigth: 20px;
    margin: 0;
    font-size: 14px;
    cursor: default;
}

.menu-item{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url("https://img.icons8.com/ios/50/000000/home-page.png");
    background-repeat: no-repeat;
    background-color: #77dcff;
}

.addFigure{
    text-decoration: none;
    left: 10%;
    border: none;
    margin-top: 5pt;
    color: black;
    padding: 15px 20px;
    width: 200px;
    text-align:center;
    font-weight: bold;
    margin-top: 5pt;
    margin-left: 180pt;
    background: #6dff63;
}
.addFigure:active{
    background: #e2ffbe;
}

h1{
    font-size: 20pt;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.figure-list{
    margin-top: 10pt;
    width: 1080pt;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
}

td{
    border: 2px solid purple;
    border-collapse: collapse;
    cursor: default;
}
.figure-list .deleteLink{
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    background: white url("https://img.icons8.com/ios/30/000000/trash--v1.png") no-repeat;
}

.figure-list .editLink{
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    background: white url("https://img.icons8.com/material-outlined/30/000000/edit--v2.png") no-repeat;
}
