@font-face {
    font-family: 'Roboto';
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

html, body {
    background-image: url("https://cdn-ru0.puzzlegarage.com/img/puzzle/12/178_preview_r.v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #52d7be;
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: Roboto;
}

.add{
    text-decoration: none;
    left: 10%;
    border: none;
    color: black;
    padding: 15px 20px;
    cursor: pointer;
    width: 200px;
    text-align:center;
    font-weight: bold;
    margin-top: 5pt;
    margin-left: 100px;
    background: #faff63;
}

.add:active{
    background: #fff7be;
}

.table {
    margin-top: 10pt;
    width: 90%;
    position: relative;
    left: 50%;
    background: white;
    transform: translate(-50%, 0);
    border: 15px solid #c9ffff;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #dec9ff;
    border: 5px solid #c9ffff;
    text-align: center;
}
.table td {
    padding: 5px;
    border: 5px solid #c9ffff;
    text-align: center;
}

.edit, .delete{
    height: 42px;
    width: 37px;
}
.td-button{
    width: 37px;
}

.delete{
    background-image: url("https://img.icons8.com/ios/40/000000/trash--v1.png");
    background-repeat: no-repeat;
}
.edit{
    background-image: url("https://img.icons8.com/material-outlined/40/000000/edit--v2.png");
    background-repeat: no-repeat;
}
.menu-item{
    position: fixed;
    margin-top: 5pt;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url("https://img.icons8.com/ios/50/000000/home-page.png");
    background-repeat: no-repeat;
    background-color: #77dcff;
}
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}
.modal_cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}
.active{
    opacity: 1;
    visibility: visible;
}

.modal label {
    font-size: 15pt;
    position: fixed;
    left: 20%;
    transform: translate(-50%, 0);
    margin: 0 auto 15px;
    color: black;
    padding: 15px 20px;
}

.modal input[type=number]{
    width: 100px;
    padding: 15px;
    margin-left: 60px;
    border: none;
    background: #f1f1f1;
    position: fixed;
    left: 40%;
    transform: translate(-50%, 0);
}
.modal .in_width, .modal .l_width{
    margin-top: 50px;
}

.modal .in_height, .modal .l_height{
    margin-top: 20px;
}

.modal input[type=number]:focus{
    background-color: #ddd;
    outline: none;
}

.modal input[type=submit] {
    color: black;
    padding: 15px 20px;
    cursor: pointer;
    width: 200px;
    margin-top: 90px;
    margin-bottom: 10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 35%;
    transform: translate(-50%, 0);
    border: 2px solid lightgrey;
}

.modal input[type=submit]:active{
    background: #c9f3f1;
}