@font-face {
    font-family: 'Roboto';
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

html, body {
    background-image: url("https://cdn-ru0.puzzlegarage.com/img/puzzle/12/178_preview_r.v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #52d7be;
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: Roboto;
}

.menu-item{
    position: fixed;
    margin-top: 5pt;
    margin-left: 5pt;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url("https://img.icons8.com/ios/50/000000/home-page.png");
    background-repeat: no-repeat;
    background-color: #77dcff;
}

.table {
    width: 90%;
    position: relative;
    margin-top: 10pt;
    left: 50%;
    background: white;
    transform: translate(-50%, 0);
    border: 15px solid #c9ffff;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #dec9ff;
    border: 5px solid #c9ffff;
    text-align: center;
}
.table td {
    padding: 5px;
    border: 5px solid #c9ffff;
    text-align: center;
}

.saveButton{
    text-decoration: none;
    left: 10%;
    border: none;
    color: black;
    padding: 15px 20px;
    cursor: pointer;
    width: 200px;
    text-align:center;
    font-weight: bold;
    margin-top: 5pt;
    margin-left: 100px;
    background: #faff63;
}
.saveButton:active{
    background: #fff3b0;
}
.select{
    text-decoration: none;
    border: none;
    color: black;
    width: 100px;
    text-align:center;
    font-weight: bold;
    background: #f86dc2;
    cursor: pointer;
}

.select:active{
    background: #f8cbe6;
}
