@font-face {
    font-family: 'Roboto';
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

html, body {
    background-image: url("https://cdn-ru0.puzzlegarage.com/img/puzzle/12/178_preview_r.v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #52d7be;
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: Roboto;
}
.home{
    position: fixed;
    margin-top: 5pt;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url("https://img.icons8.com/ios/50/000000/home-page.png");
    background-repeat: no-repeat;
    background-color: #77dcff;
}

.wrapper{
    width: 90%;
    top: 10%;
    height: auto;
    border: 2px solid lightgrey;
    padding: 15pt;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 16pt;
}