@font-face {
    font-family: 'Roboto';
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
}

html, body {
    background-image: url("https://cdn-ru0.puzzlegarage.com/img/puzzle/12/178_preview_r.v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #52d7be;
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: Roboto;
}
.menu-wrapper {
    width: 250px;
    height: auto;
    margin: 110px auto 0;
    border: 2px solid lightgrey;
    padding: 10px;
    background-color: white;
}

.menu-wrapper a{
    text-decoration: none;
    margin: 0 auto 15px;
    color: black;
    padding: 16px 20px;
    cursor: pointer;
    width: 200px;
    text-align:center;
}
.menu-wrapper a:active{
    background: #c9f3f1;
}

.menu-wrapper h1{
    text-align:center;
}

.menu-items{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.menu-item{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.logout_btn{
    color: black;
    padding: 16px 20px;
    margin-top: 10pt;
    cursor: pointer;
    width: 200px;
    margin-bottom: 10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgb(255, 144, 3);
}

.logout_btn:active{
    background: #c9f3f1;
}


.menu-wrapper .aboutDev_btn, .menu-wrapper .aboutSyst_btn{
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.menu-wrapper .aboutDev_btn{
    position: absolute;
    top:2px;
    right:60px;
    border-radius: 20px;
    background-color: #6cd5ff;
    background-image: url("https://img.icons8.com/ios/50/000000/info--v1.png");
    background-repeat: no-repeat;
}

.menu-wrapper  .aboutSyst_btn{
    position: absolute;
    top:2px;
    right:10px;
    border-radius: 20px;
    background-color: #ff7dc9;
    background-image: url("https://img.icons8.com/ios/50/000000/help.png");
    background-repeat: no-repeat;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}
.modal_cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}

.active{
    opacity: 1;
    visibility: visible;
}

.modal a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.modal .modal-item{
    text-decoration: none;
    margin: 0 auto 15px;
    color: black;
    padding: 15px 20px;
    cursor: pointer;
    width: 200px;
    background: #f3f3f3;
    text-align:center;
}
.modal .modal-item:active{
    background: #c9f3f1;
}

#game-button, #easy-game, #easy-lvl{
    background: #1af1d0;
}

#statistic-btn, #norm-game, #norm-lvl{
    background:#fde532;
}

#glasses-btn, #hard-game, #hard-lvl{
    background: #f86dc2;
}

#figures-btn{
    background: #a673e8;
}

#level-button{
    background: #1dbcf6;
}

#settings-btn{
    background: #7ad45e;
}