<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тетрис. Создание фигуры</title>
    <link th:href="@{/css/edit-figure.css}" rel="stylesheet"/>
</head>
<body>
<input id="figureId" hidden th:value="${figureId}">
<a th:href="@{/main}">
    <div class="menu-item"></div>
</a>
<div class="edit-wrapper">
    <h1>Редактирование фигуры</h1>
    <table class="figure" style="border: 2px solid purple;">
        <tr>
            <td id="0-0">000</td>
            <td id="0-1">000</td>
            <td id="0-2">000</td>
            <td id="0-3">000</td>
        </tr>
        <tr>
            <td id="1-0">000</td>
            <td id="1-1">000</td>
            <td id="1-2">000</td>
            <td id="1-3">000</td>
        </tr>
        <tr>
            <td id="2-0">000</td>
            <td id="2-1">000</td>
            <td id="2-2">000</td>
            <td id="2-3">000</td>
        </tr>
        <tr>
            <td id="3-0">000</td>
            <td id="3-1">000</td>
            <td id="3-2">000</td>
            <td id="3-3">000</td>
        </tr>
    </table>
    <button id="save">Сохранить</button>
</div>
<script type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" th:src="@{/js/edit-figure.js}"></script>
</body>
</html>