<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тетрис. Фигуры на уровне</title>
    <link th:href="@{/css/figures.css}" rel="stylesheet" />
</head>
<body>
<input hidden id="levelId" th:value="${levelId}">
<a th:href="@{/main}"><div class="menu-item">Вернуться на главную страницу</div></a>
<h1>Список фигур</h1>
<div class="figure-list">
<!--Здесь формируется список фигур-->
</div>
<button class="saveButton">Сохранить</button>
<script type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript" th:src="@{/js/figures-in-level.js}"></script>
</body>
</html>