<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тетрис. Стаканы</title>
    <!--<link rel="stylesheet" href="../static/css/glasses.css"/>-->
    <link media="all" th:href="@{/css/glasses.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<a th:href="@{/main}"><div class="menu-item"></div></a>
    <button class="add">Добавить новый стакан</button>
    <div class="modal" style="   background-color: white;">
        <svg class="modal_cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
        <label for="height" class="l_height"> Высота: </label>
        <input type="number" id="height" placeholder="Высота" class="in_height">
        <br>
        <label for="width" class="l_width"> Ширина:</label>
        <input type="number" id="width" placeholder="Ширина" class="in_width">
        <br>
        <input type="submit" value="Сохранить" id="saveButton">
    </div>
    <div class="overlay" id="overlay-modal"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Высота</th>
            <th>Ширина</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="glass : ${glasses}">
            <td th:text="${glass.getId()}"></td>
            <td th:text="${glass.getHeight()}"></td>
            <td th:text="${glass.getWidth()}"></td>
            <td class="td-button"><a th:href="@{/editGlass/{id}(id=${glass.getId()})}"><div class="edit"></div></a></td>
            <td class="td-button"><a th:href="@{/deleteGlass/{id}(id=${glass.getId()})}"><div class="delete"></div></a></td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" th:src="@{/js/glasses.js}"></script>
</body>
</html>