<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о системе</title>
</head>
<body>
    <h1>Игра "Тетрис"</h1>
    <h2>Информация о системе</h2>
    <p>Приложение представляет собой расширенную версию классической игры "Тетрис". </p>
    <p>Приложение позволяет не только играть, но и:</p>
    <ul>
        <li>Создавать новые фигуры</li>
        <li>Создавать новые стаканы</li>
        <li>Конфигурировать уровни сложности</li>
        <li>Настраивать процесс игры</li>
    </ul>

    <h2>Правила игры</h2>
    <p>Тетрис — это очень популярная игра, которая появилась в 80-х. Если вы не знаете, как играть в нее, самое время научиться.</p>
    <p>Для того, чтобы играть используйте следующую инструкцию:</p>
    <ul>
        <li>Настройте параметры игры: выберите способ подсчета очков, и опцию показа сетки и следующей фигуры</li>
        <li>Выберите уровень сложности: легкий, средний, сложный</li>
        <li>Начните играть!</li>
    </ul>
    <h3>Правила управления фигурами:</h3>
    <ul>
        <li>Двигайте фигуру с помощью стрелок "вправо" и "влево" на клавиатуре</li>
        <li>Ускоряйте фигуру с помощью стрелки "вниз"</li>
        <li>Крутите фигуру с помощью стрелки "вверх"</li>
    </ul>
</body>
</html>