<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Уровень сложности</title>
</head>
<body>
    <a th:href="@{/main}"><div class="menu-item">Вернуться на главную страницу</div></a>
    <h1>Список фигур</h1>
    <a th:href="@{/figs-in-level/1}" class="addFigure">Изменить набор фигур</a>
    <div class="figure-list">
    </div>
    <h1>Список стаканов</h1>
    <a th:href="@{/glass-in-level/1}" class="addFigure">Изменить стакан</a>
    <br>
    <label>Id</label>
    <label th:text="${glass.getId()}"></label>
    <br>
    <label>Высота</label>
    <label th:text="${glass.getHeight()}"></label>
        <br>
    <label>Ширина</label>
    <label th:text="${glass.getWidth()}"></label>
        <br>
    <h1>Скорость падения фигур</h1>
    <input type="range" min="0.5" max="2" step="0.5" th:value="${level.speed}">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" th:src="@{/js/level.js}"></script>
</body>
</html>