<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Тетрис. Авторизация</title>
    <!--<link rel="stylesheet" href="../static/css/login_style.css"/>-->
    <link media="all" th:href="@{/css/login_style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="login_form">
    <div th:class="error" th:if="${param.error}">
        <p>Неверный логин/пароль.<p>
    </div>

    <div th:class="warning" th:if="${param.logout}">
        <p>Вы вышли из профиля.<p>
    </div>
        <form th:action="@{/}" method="post" th:class="form-container">
            <p style="font-size: 20pt;">«Тетрис»</p>
            <label for="username"> Логин: </label>
            <input type="text" name="username" id="username" placeholder="Логин"/>

            <label for="password"> Пароль:</label>
            <input type="password" name="password" id="password" placeholder="Пароль"/>

            <input type="submit" value="Вход" th:class="submit_btn"/>
        </form>
</div>
<script type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $('.submit_btn').on('click', function (){
        if ($('#username').val().length < 3 || $('#username').val().length > 9){
            alert('Длина логина должна быть от 4 до 8');
        }
        if ($('#password').val().length < 3 || $('#username').val().length > 11){
            alert('Длина пароля должна быть от 4 до 10');
        }
    })
</script>
</body>
</html>