<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Тетрис. Главное меню</title>
        <!--<link rel="stylesheet" href="../static/css/main.css"/>-->
        <link media="all" th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
        <link rel="import" th:href="@{/templates/info-system.html}" type="text/css"/>
    </head>
    <body>
    <div class="main-content">
        <input id="role" th:value="${role}" hidden>
        <div class="menu-wrapper">

                <a class="aboutDev_btn" th:href="@{/info-students}"></a>
                <a class="aboutSyst_btn" th:href="@{/info-system}"></a>

            <h1 th:inline="text">Игра «Тетрис»</h1>
            <div class="menu-items">

                <a id="game-button" href=#><div class="menu-item">Играть</div></a>
                <a id="statistic-btn" th:href="@{/statistic}"><div class="menu-item">Статистика</div></a>
                <a id="settings-btn" th:href="@{/settings}"><div class="menu-item">Настройки</div></a>
                <a id="glasses-btn" th:href="@{/glasses}"><div class="menu-item">Стаканы</div></a>
                <a id="figures-btn" th:href="@{/figures}"><div class="menu-item">Фигуры</div></a>
                <a id="level-button" href=#><div class="menu-item">Уровни сложности</div></a>
                <!--<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/statistic}" ><div class="menu-item">Настройки уровня сложности</div></a>-->
            </div>
        </div>
        <form th:action="@{/logout}" method="post" >
            <input type="submit" value="Выйти из профиля" class="logout_btn">
        </form>
        <div id="level" class="modal">
            <svg class="modal_cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
            <a  th:href="@{/level/1}"><div id="easy-lvl" class="modal-item">Легкий</div></a>
            </br>
            <a  th:href="@{/level/2}"><div id="norm-lvl" class="modal-item">Средний</div></a>
            </br>
            <a  th:href="@{/level/3}"><div id="hard-lvl" class="modal-item">Сложный</div></a>
            </br>
        </div>
        <div id="game" class="modal">
            <svg class="modal_cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
            <a  th:href="@{/game/1}"><div id="easy-game" class="modal-item">Легкий</div></a>
            </br>
            <a  th:href="@{/game/2}"><div id="norm-game" class="modal-item">Средний</div></a>
            </br>
            <a  th:href="@{/game/3}"><div id="hard-game" class="modal-item">Сложный</div></a>
            </br>
        </div>
        <div class="overlay" id="overlay-modal"></div>
    </div>
    <div class="syst" hidden></div>
    <div class="dev" hidden></div>
        <script type="text/javascript"
                src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
        <script>
                $('.syst').load("/info-system");
                $('.dev').load("/info-students");
                $('.aboutDev_btn').on('click', function(){
                    $('.main-content').prop('hidden', true);
                    $('.dev').prop('hidden', false);
                })
                $('.aboutSyst_btn').on('click', function(){
                    $('.main-content').prop('hidden', true);
                    $('.syst').prop('hidden', false);
                })
        </script>
    </body>
</html>