<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Тетрис. Регистрация.</title>
    <link rel="stylesheet" href="../static/css/login_style.css"/>
    <!--<link th:href="@{/css/login_style.css}" rel="stylesheet" />-->
</head>

<body>
    <div class="login_form">
        <div class="error" th:if="${param.error}">
            <p>Неверный логин/пароль.<p>
        </div>

        <div class="warning" th:if="${param.logout}">
            <p>Вы вышли из профиля.<p>
        </div>
        <form th:action="@{/registration}" method="post" class="form-container">
            <p>«Тетрис»</br>Регистрация</p>
            <label for="username"> Логин: </label>
            <input type="text" name="username" id="username" placeholder="Логин"/>

            <label for="password"> Пароль:</label>
            <input type="password" name="password" id="password" placeholder="Пароль"/>

            <input type="submit" value="Регистрация" class="submit_btn"/>
        </form>
    </div>
</body>
</html>