<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Тетрис. Статистика</title>
    <!--<link rel="stylesheet" href="../static/css/statistic.css"/>-->
    <link media="all" th:href="@{/css/statistic.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <a th:href="@{/main}"><div class="menu-item"></div></a>
    <table class="table">
        <thead>
        <tr>
            <th>Пользователь</th>
            <th>Очки</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="st : ${statistics}">
            <td th:text="${st.getUser().getUsername()}"></td>
            <td th:text="${st.getResult()}"></td>
            <td th:text="${st.getTime()}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>