<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Тетрис. Статистика</title>
    <!--<link rel="stylesheet" href="../static/css/statistic.css"/>-->
    <link media="all" th:href="@{/css/statistic.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

    <a th:href="@{/main}"><div class="menu-item"></div></a>
    <input id="type" value="best" hidden>
    <button id="my-stat">Моя статистика</button>
    <button id="best" disabled>Лучшие игроки</button>
    <select id="resultType">
        <option selected value="1">По очкам</option>
        <option value="2">По времени</option>
    </select>
    <table id="allStatistics" class="table">
        <thead>
        <tr>
            <th>Пользователь</th>
            <th id="typeth">Очки</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="st : ${statistics}">
            <td th:text="${st.getUser().getUsername()}"></td>
            <td th:text="${st.getResult()}"></td>
        </tr>
        </tbody>
    </table>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" th:src="@{/js/statistic.js}"></script>
</body>
</html>